html {
    height: 100%
}    
body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: grid;
    grid-template: 1fr 3fr 1fr / 1fr 1fr 1fr 1fr 1fr;
    background-color: hsl(0, 0%, 95%);
}
#sedans {
    grid-column: 2;
    grid-row: 2;
}
#suvs {
    grid-column: 3;
    grid-row: 2;
}
#luxury {
    grid-column: 4;
    grid-row: 2;
}
.card {
    padding: 50px;
}
.orange {
    background-color: hsl(31, 77%, 52%);
    color: hsl(31, 77%, 52%);
}
.dark-cyan {
    background-color: hsl(184, 100%, 22%);
    color: hsl(184, 100%, 22%);
}
.very-dark-cyan {
    background-color: hsl(179, 100%, 13%);
    color: hsl(179, 100%, 13%);
}
p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: "Lexend Deca";
    font-weight: 400;
    font-size: 15px;
}
h2 {
    color: hsl(0, 0%, 95%);
    text-transform: uppercase;
    font-family: "Big Shoulders Display";
    font-weight: 700;
    font-size: 35px;
}
.btn {
    background-color: hsl(0, 0%, 95%);
    font-family: "Lexend Deca";
    padding: 15px;
    border-radius: 25px;
    text-decoration: none;
}
.attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.attribution a {
    color: hsl(228, 45%, 44%);
}